.skillTable {
    width: 60%;
    margin: auto;
    height: 100%;
    display: contents;
}

.pointsCol {
    align-content: center;
}

.headers>td {
    background-color: #747474;
}

.table {
    margin-bottom: 0;
}